html, body { height: 100%; }

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.battle_container {
    
}

.ground {
    background: url('images/ground.png');
    width: 640px;
    height: 640px;
}