html, body { 
/*
    height: 100%; 
*/
    width: 640px; 
    text-align:center;}

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.battle_container {
    
}

.ground {
    background:url('images/ground2.jpg') repeat;
    width: 1000px;
    height: 1000px;
}

.ground_box .top
{
    background:url('images/ground4.jpg') repeat;
    width: 1000px;
    height: 1000px;
}

.ground_box .front,
.ground_box .left,
.ground_box .right
{
    background:url('images/ground4_shadow.jpg') repeat;
    width: 1000px;
    height: 1000px;
}

.player_unit {
    background: -webkit-linear-gradient(top, #000, #fff);
    width: 100px;
    height: 100px;
}

.enemy_unit {
    background-color: red;
    width: 100px;
    height: 100px;
}